{#-
  Custom template overrides for LITIENGINE Docs
-#}
{% extends "base.html" %}

{% block fonts %}
  {% if config.theme.font != false %}
    {% set text = config.theme.font.text | d("Inter", true) %}
    {% set code = config.theme.font.code | d("JetBrains Mono", true) %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{
        text | replace(' ', '+') + ':300,300i,400,400i,500,500i,700,700i%7C' +
        code | replace(' ', '+') + ':400,400i,700,700i'
      }}&amp;display=swap">
    <style>:root{--md-text-font:"{{ text }}";--md-code-font:"{{ code }}"}</style>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {% include "partials/head.html" %}
{% endblock %}
