{#-
  Custom Content Partial with EthicalAds Integration
-#}
{% include "partials/actions.html" %}
{% if "\u003ch1" not in page.content %}
  <h1 id="__skip">{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}

<div class="ethical-ad-article-wrapper">
  <div data-ea-publisher="litiengine" data-ea-type="image" class="adaptive bordered"></div>
</div>

{% include "partials/tags.html" %}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
