<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ 'assets/site.webmanifest' | url }}">
<meta name="theme-color" content="#00b0ff">
<meta name="apple-mobile-web-app-title" content="LITIENGINE">
<meta name="application-name" content="LITIENGINE Docs">
