<div class="docs-sponsor-component">
  <span class="docs-sponsor-component__title">Supported by our community &amp; partners</span>
  <div class="docs-sponsor-component__body">
    <a href="{{ 'about/sponsors/' | url }}" class="docs-sponsor-component__partner" title="View LITIENGINE sponsors &amp; partners">
      <span class="twemoji">{% include "assets/icons/lucide/heart-handshake.svg" %}</span>
      <span>Our Sponsors</span>
    </a>
    <a href="https://opencollective.com/litiengine" target="_blank" rel="noopener sponsored" class="docs-sponsor-component__cta">
      Become a Sponsor &rarr;
    </a>
  </div>
</div>
